---
import Layout from "@layouts/Layout.astro";
import {bentoPhotos} from "@utils/bentoPhotos";
import { Image } from "astro:assets";

---

<Layout title="Bento Photos | Enzo">
    <section class="w-[95%] mx-auto flex flex-col items-center justify-center gap-12 my-12 welcomeToMain">
        <div class="gridContainer w-full bg-blue-600/10">
            {bentoPhotos.map((photo, index) => (
                    <div class={`flex flex-col items-center justify-center gap-6 rounded-xl ${photo.aspectRatio} bg-red-600 h-full`}>
                        <Image src={photo.src} alt={photo.alt} 
                        class={`rounded-xl object-cover object-center w-full h-full max-w-full align-middle inline-block
                        `} 
                        width={photo.width} 
                        height={photo.height} />
                    </div>
                    // <div class={`flex flex-col items-center justify-center gap-6  ${photo.aspectRatio === "1:1" ? "col-span-3 row-span-4 " : 
                    // (photo.aspectRatio === "16:9") ? "col-span-4 row-span-2" : (photo.aspectRatio === "9:16" ? "col-span-2 row-span-4" : "")} w-full aspect-video bg-red-600 `}>
                    // <Image src={photo.src} alt={photo.alt} 
                    // class={`rounded-lg object-cover object-center w-[400px]
                    // `} 
                    // width={photo.width} 
                    // height={photo.height} />
                    // </div>
                ))}
                

        </div>
    </section>
    <div class="pb-32"></div>
</Layout>